//Custom variables

// Descriptive color variables

// Functional color variables

// Font stacks

// Asset paths
$path-image   :   '../img';
$path-fonts     :  '../fonts';

//Colors

$background-light: #e5d3d3;
$background-dark: #806a6c;
$black: #474040;
$red-dark: #ad2424;
$red-light: #ee3224;
